extends layout

block content
  img(src='/images/banner-logo.png').img-fluid
  #login-options.container-fluid
    .row
      .col
      .col.align-self-center 
        .list-group
          a(href='/auth/user/register').list-group-item.list-group-item-success.text-center Get a new pass 
          a(href='/auth/user/login').list-group-item.list-group-item-primary.text-center View existing pass 
          a(href='/auth/validator/login').list-group-item.list-group-item-secondary.text-center Validator login 
          a(href='/auth/admin/login').list-group-item.list-group-item-secondary.text-center Administrator login
      .col
