extends layout

block content
  img(src='/images/banner-logo.png').img-fluid
  #login-options.container-fluid
    .row
      .col
      .col.align-self-center 
        .list-group
          a(href='/pass/new').list-group-item.list-group-item-success.text-center Get a new pass 
          a(href='/pass/view').list-group-item.list-group-item-primary.text-center View existing pass 
          a(href='/validator').list-group-item.list-group-item-secondary.text-center Validate passes 
          a(href='/admin').list-group-item.list-group-item-secondary.text-center Administrator view
      .col
