extends layout 

block content 
    .container-sm
        form(action=dest, method="post")
            .form-floating.mb-3 
                input(type='text')#username.form-control
                label(for='username') Username 
            .form-floating.mb-3 
                input(type='password')#password.form-control
                label(for='password') Password