extends ../layout

block content 
    .d-flex.justify-content-center.mb-3
        div(style='width: 3rem; height: 3rem;').mb-3
            i(style='font-size: 3rem;').bi-exclamation-triangle.text-danger
    div(style='max-width: 500px;').container-md.mx-auto.d-block
        h1 There was an issue verifying your Goklahoma vaccine pass.
        p There are a few reasons this might have happened: if you provided incomplete data, if the information you provided didn't match the information on your CDC vaccine card, or if the pictures that you uploaded weren't clear enough.
        p Please try submitting another request to resolve the issue.
        a(href='/pass/new').btn.btn-danger.mb-3 Submit a new request
        p.text-secondary This message is for #{user.name}.
